*.log
*.qcow2
vmlinuz
*.fd
.vscode/
output/
__pycache__/
attestation/full-disk-encryption/Cargo.lock
attestation/full-disk-encryption/target/

build/ubuntu-22.04/guest_repo/
build/ubuntu-22.04/host_repo/
build/ubuntu-22.04/intel-mvp-amber-cli/amber-cli/
build/ubuntu-22.04/intel-mvp-amber-cli/sgx_debian_local_repo.tgz
build/ubuntu-22.04/intel-mvp-amber-cli/sgx_debian_local_repo/
build/ubuntu-22.04/intel-mvp-ovmf/mvp-ovmf-stable202302/
build/ubuntu-22.04/intel-mvp-tdx-kernel/mvp-tdx-kernel-v5.19.17/
build/ubuntu-22.04/intel-mvp-tdx-qemu-kvm/mvp-tdx-qemu-7.0.50/
build/ubuntu-22.04/intel-mvp-tdx-qemu-kvm/*.ddeb
build/ubuntu-22.04/guest-image/cloud-init-data/cloud-config-base.yaml
build/ubuntu-22.04/guest-image/cloud-init-data/cloud-config-test-suite.yaml
build/ubuntu-22.04/guest-image/cloud-init-data/meta-data
build/ubuntu-22.04/guest-image/cloud-init-data/user-data
build/ubuntu-22.04/guest-image/jammy-server-cloudimg-amd64.img
build/ubuntu-22.04/guest-image/SHA256SUMS
build/ubuntu-22.04/guest-image/download/
build/ubuntu-22.04/guest-image/remote.conf
