*.log
*.qcow2
vmlinuz
*.fd
.vscode/
output/
__pycache__/
rpmbuild/
repo/
*.done
hosts
attestation/full-disk-encryption/Cargo.lock
attestation/full-disk-encryption/target/
deploy/tdx_stack/tdx_repo/
build/ubuntu-22.04/guest_repo/
build/ubuntu-22.04/host_repo/

build/ubuntu-22.04/local/
build/ubuntu-22.04/intel-mvp-tdx-migration/migtd/
attestation/pckid-service/pckid-retrieve-tool-service_1.0-1_amd64/etc/systemd/system/pckid_retrieve_tool_service.service
attestation/pckid-service/pckid-retrieve-tool-service_1.0-1_amd64.deb
build/ubuntu-22.04/intel-mvp-ovmf/ovmf-stable202302/
build/ubuntu-22.04/intel-mvp-tdx-kernel/patches/
build/ubuntu-22.04/intel-mvp-tdx-libvirt/*.ddeb
build/ubuntu-22.04/intel-mvp-tdx-libvirt/mvp-tdx-libvirt-v2.6/
build/ubuntu-22.04/intel-mvp-tdx-qemu-kvm/mvp-tdx-qemu-v7.2.0/
build/ubuntu-22.04/intel-mvp-tdx-qemu-kvm/patches/
build/ubuntu-22.04/intel-mvp-tdx-qemu-kvm/*.ddeb
build/ubuntu-22.04/intel-mvp-vtpm-td/rustup-init.sh
build/ubuntu-22.04/intel-mvp-vtpm-td/vtpm-td/
build/ubuntu-22.04/intel-mvp-tdx-kernel/mvp-tdx-kernel-v6.2.16/
build/ubuntu-22.04/intel-mvp-tdx-libvirt/libvirt-8.6.0.tar.xz
build/ubuntu-22.04/guest-image/SHA256SUMS
build/ubuntu-22.04/guest-image/cloud-init-data/cloud-config-base.yaml
build/ubuntu-22.04/guest-image/cloud-init-data/cloud-config-test-suite.yaml
build/ubuntu-22.04/guest-image/cloud-init-data/meta-data
build/ubuntu-22.04/guest-image/cloud-init-data/user-data
build/ubuntu-22.04/guest-image/download/
build/ubuntu-22.04/guest-image/jammy-server-cloudimg-amd64.img